.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
}

.header-right a:hover {
    text-decoration: underline;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.project-name {
    font-size: 1.7em;
    font-weight: bold;
}