/* src/components/Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;  /* Centered the content */
  padding: 15px 50px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  transition: 0.12s ease-in;
}

.nav-links a:hover {
  color: #a4a4a4;
}
