/* src/components/MainContent.css */
.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tradingview-widget-container {
  height: 100%;
  width: 100%;
}
