/* src/components/Sidebar.css */
.sidebar {
    width: 25%;  /* Adjusted to 25% */
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    font-size: 28px;
    color: #000000;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px 0;
    cursor: pointer;
    color: #333333;
  }
  