/* src/components/Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 50px 0 0 50px; /* top right bottom left */
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px; /* Adjust the value as needed */
  font-size: 16px; /* Adjust the value as needed */
  color: #333; /* Adjust the value as needed */
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #ddd; /* Adjust the value as needed */
}

.toggle-sidebar-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
}